*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    color: #333333;
    font-family: "Kanit", sans-serif;
    padding: 0;
}
header{
    background: linear-gradient(0deg, #f2f4f700 41%, #d5d5d55c 100%);
    padding: 15px 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: fit-content;
}
nav{
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    width: 100%;
}
#img-logo{
    height: 50px;
}




#buscador{
    color: #000000;
    border-radius: 0.4em;
    padding-left: 0.4em;
    background-color: rgba(255, 255, 255, 0.931);
    font-weight: 200;
}
#buscador:hover{
    transform: translateY(-5%);
    box-shadow: rgba(141, 141, 141, 0.25) 0px 13px 47px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}




.banner{
    width: 100%;
    padding: 2%;
    text-align: center;
}


.barra-filtros{
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
    margin: 0 10% 20px;
    background-color: #fbca1f;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0 0.1em;
    align-items: baseline;
}

#articulos-container{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.categoria-vacia-container{
    display: flex;
    align-items: center;
    min-height: 70vh;
}
footer{
    background-color: #333333;
}

/*
.articulo{
    display: flex;
    flex-direction: column;
    height: fit-content;
    color: #FFFEFA;
    background-color: #8F857D;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    width: 180px;
}*/

h1{
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(105, 167, 13);
    text-shadow: black 1.5px 1.5px;
}
h2{
    font-weight: bolder;
}
h3{
    font-weight: bolder;
}
p{
    margin:0;
}






#container-cart{
    display: flex;
}

.container-buttons-cart{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 10px;
}










/*///////////////////////////////*/
/* Cambia el color del scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Ancho del scrollbar vertical */
  height: 12px; /* Alto del scrollbar horizontal */
}

/* Cambia el color del track del scrollbar */
::-webkit-scrollbar-track {
    background: #f7f7f700;
  }
  
  /* Cambia el color del thumb (la parte que se mueve) del scrollbar */
  ::-webkit-scrollbar-thumb {
    background: #00000061;
    border-radius: 10px; /* Añade bordes redondeados al thumb */
  }
  
  /* Cambia el color del thumb cuando se está haciendo hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00000098;
  }

/* Cambia el color del corner del scrollbar (la esquina donde se encuentran los scrollbars horizontal y vertical) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}







/*///////////////////////////*/

/* From Uiverse.io by alexruix */ 
    .card {
    width: fit-content;
    height: fit-content;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 1.5em;
    height: 1.5em;
   }
   
   .card-footer {
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-10%);
    box-shadow: rgba(141, 141, 141, 0.25) 0px 13px 47px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #a6ffac;
    background-color: #a6ffac;
   }
   


   /*ssssssssss*/

html{
    background-color: #ffffff;
}
button {
    background: #fbca1f;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 0.9rem;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0 0.1em;
    cursor: pointer;
}

button:hover {
    transform: translate(0, -0.1em);
    box-shadow: 0 0.15em;
}

button:active {
    transform: translate(0, 0.05em);
    box-shadow: 0 0.05em;
}

