* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.index {
  display: flex;
  flex-direction: column;
  color: #333333;
  font-family: "Kanit", sans-serif;
  padding: 0;
  background-image: url(../img/herramientas-fondo-index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.carrito {
  display: flex;
  flex-direction: column;
  color: #333333;
  font-family: "Kanit", sans-serif;
  padding: 0;
  background-image: url(../img/herramientas-fondo-carrito.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  width: 100%;
  background: linear-gradient(0deg, #f2f4f700 41%, #d5d5d55c 100%);
  padding: 15px 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: fit-content;
}
nav {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: baseline;
}
main {
  padding: 2em;
}
#img-logo {
  height: 5em;
}

#ajustes {
  width: 2em;
}
#carrito-button-img {
  width: 2em;
}

#buscador {
  color: #000000;
  border-radius: 0.4em;
  padding-left: 0.4em;
  background-color: rgba(255, 255, 255, 0.931);
  font-weight: 300;
  font-size: 1.2em;
}
#buscador:hover {
  transform: translateY(-5%);
  box-shadow: rgba(141, 141, 141, 0.25) 0px 13px 47px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.banner {
  width: 100%;
  padding: 2%;
  text-align: center;
}

.barra-filtros {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2.5%;
  margin: 2%;
  background-color: #fbca1f;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0 0.1em;
  align-items: baseline;
}

#articulos-container {
  margin: 0.2em;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.categoria-vacia-container {
  display: flex;
  align-items: center;
  min-height: 70vh;
}
footer {
  color: white;
  background-color: #333333;
}

h1 {
  display: inline;
  font-size: 3rem;
  font-weight: bolder;
  color: #fbca1f;
  text-shadow: white 1px 1px, #000000 2px 2px;
}
h2 {
  font-weight: bolder;
}
h3 {
  font-weight: bolder;
}
p {
  margin: 0;
}

#container-cart {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;
  margin: 2em;
  background-color: #87878787;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  height: fit-content;

  justify-content: center;
  gap: 2em;
}
.articulo-carrito {
  display: flex;
  width: 100%;
}
.card-carrito {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  background: #f5f5f5;
  border-radius: 3px;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.card-header-carrito {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}
.card-img-carrito {
  height: 100%;
  border-radius: 6px;
}
.card-info-carrito {
  display: flex;
  flex-direction: column;
}
.card-footer-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container-buttons-cart {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.trash-logo {
  width: 2em;
}

/*///////////////////////////////*/
/* Cambia el color del scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Ancho del scrollbar vertical */
  height: 12px; /* Alto del scrollbar horizontal */
}

/* Cambia el color del track del scrollbar */
::-webkit-scrollbar-track {
  background: #f7f7f700;
}

/* Cambia el color del thumb (la parte que se mueve) del scrollbar */
::-webkit-scrollbar-thumb {
  background: #00000061;
  border-radius: 10px; /* Añade bordes redondeados al thumb */
}

/* Cambia el color del thumb cuando se está haciendo hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000098;
}

/* Cambia el color del corner del scrollbar (la esquina donde se encuentran los scrollbars horizontal y vertical) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/*///////////////////////////*/

.articulo {
}

.card {
  display: flex;
  width: 220px;
  height: 420px;
  padding: 0.6em;
  background: #f5f5f5;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-content: space-between;
}

.card-img {
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-info {
  overflow: scroll;
  padding-top: 10%;
}

svg {
  width: 1.5em;
  height: 1.5em;
}

.card-footer {
  justify-self: flex-end;
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-10%);
  box-shadow: rgba(141, 141, 141, 0.25) 0px 13px 47px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #a6ffac;
  background-color: #a6ffac;
}

.boton-personalizado {
  background: #fbca1f;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 0.9rem;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0 0.1em;
  cursor: pointer;
}

.boton-personalizado:hover {
  transform: translate(0, -0.1em);
  box-shadow: 0 0.15em;
}

.boton-personalizado:active {
  transform: translate(0, 0.05em);
  box-shadow: 0 0.05em;
}

.categorias {
  width: 100%;
  padding: 0.2em;
  margin: 0.2em;
}
#categorias-list {
  margin-top: 5px;
  background: #fbcb1f46;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 0.9rem;
  border-radius: 0.4em;
  box-shadow: 0 0.1em;
  cursor: pointer;
}

#categorias-list div {
  width: fit-content;
}
.categorias a {
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}
.categorias a:visited {
  color: #000000;
}

#boton-categorias {
  background: #fbca1f;
  color: black;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 0.9rem;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0 0.1em;
  cursor: pointer;
}

#container-total {
  padding: 0;
  overflow: scroll;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: #000000 3px solid;
}

.articulos-total {
  border: #000000 1px solid;
}
.articulos-total td {
  border: #000000 1px solid;
  padding: 0.1em;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*Para pantallas menores a 737px width*/
@media screen and (max-width: 767px) {
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  header {
    width: 100%;
  }
  main {
    padding: 0;
  }
  .barra-filtros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .botones-container {
    padding: 10px;
  }
  #buscador {
    width: 100%;
    font-size: large;
  }
  #boton-categorias {
    margin: 0.5em;
  }

  /**/

  #container-cart {
    height: auto;
    display: flex;
    gap: 2em;
  }
  .articulo-carrito {
    display: flex;
    width: auto;
  }
  .card-carrito {
    display: flex;
    width: fit-content;
    padding: 0.8em;
    background: #f5f5f5;
    border-radius: 3px;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    flex-direction: column;
    align-items: center;
  }
  .card-header-carrito {
    display: flex;
    align-items: center;
  }
  .card-img-carrito {
    height: 100%;
    border-radius: 6px;
  }
  .card-info-carrito {
    display: flex;
  }
  .card-footer-carrito {
    display: flex;
  }

  .container-buttons-cart {
    display: flex;
  }

  .trash-logo {
    width: 2em;
  }

  #container-total {
    display: flex;
    flex-direction: column;
    margin: 5px;
    overflow: scroll;
    background-color: #f1f1f1;
    align-items: stretch;
    border: #000000 3px solid;
  }

  /**/

  .carousel-item {
    align-content: center;
  }

  .carousel-item div p em {
    font-size: 3vh;
  }

  .boxita,
  .boxita2,
  .boxita3 {
    height: 30vh;
    padding: 2em;
  }
}

#confirmar {
  font-weight: 600;
  text-shadow: #f1f1f18d 1px 1px;
  background-color: #00d632;
}

.eliminarArticuloBtn {
  background: #ff715b;
  padding: 0 0.3vh 0 0;
  font-weight: 900;
  font-size: 0.9rem;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0 0.1em;
  cursor: pointer;
}

.eliminarArticuloBtn:active {
  background-color: #ff5b5b;
}

.modificarArticuloCarritoBtn {
  background: #fbca1f;
  padding: 0.3vh 1vh;
  font-weight: 900;
  font-size: 2vh;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0 0.1em;
  cursor: pointer;
}

/*Carousel*/

.boxita {
  background-color: hwb(329 15% 7% / 0.5);
  backdrop-filter: blur(10px);
  min-height: 4em;
  padding: 2em;
}
.boxita2 {
  background-color: hwb(100 19% 10% / 0.5);
  backdrop-filter: blur(10px);
  min-height: 4em;
  padding: 2em;
}
.boxita3 {
  background-color: hwb(151 16% 8% / 0.5);
  backdrop-filter: blur(10px);
  min-height: 4em;
  padding: 2em;
}

.carousel-item div p {
  color: #000000;
  text-shadow: #ddd 1px 1px;
  font-size: 4vh;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}




.swal2-popup, .swal2-toast, .swal2-show{
    width: fit-content;
}
#swal2-html-container{
    text-align: center;
}